@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@400;500;600;700&display=swap");
* {
  padding: 0;
  margin: 0;
  font-family: "Raleway", sans-serif;
  background-color: #282c31;
}
.container {
  margin: auto 10%;
}
