/*? Стили таблицы */
.wrapper {
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin-top: 50px;
}
.wrapper_title {
  margin-bottom: 20px;
  color: #cccccc;
  letter-spacing: 2px;
  text-align: center;
}

.wrapper_table {
  padding: 0;
  margin: 0;
}

.table_tr-td {
  display: inline-block;
  text-align: center;
  padding: 0;
  margin: 0;
  border: 0.5px solid rgb(195, 193, 193);
  width: 200px;
  padding: 20px 50px;
  font-size: 16px;
  font-weight: 500;
  color: #fff;
}
.colors {
  background-color: #cccccc;
  color: black;
  font-weight: 600;
  font-size: 18px;
}
.green {
  background-color: #06939f;
  color: #fff;
  font-weight: 600;
  font-size: 18px;
  cursor: pointer;
}
.td_green {
  color: #06939f;
  font-weight: 700;
}
.orange {
  background-color: #bb3036;
  color: #fff;
  font-weight: 600;
  font-size: 18px;
}
.td_orange {
  color: #bb3036;
  font-weight: 700;
}
.blue {
  background-color: #cc7c00;
  color: #fff;
  font-weight: 600;
  font-size: 18px;
}
.td_blue {
  color: #cc7c00;
  font-weight: 700;
}

/*! Filter Tables styles */
.filter_by {
  display: flex;
  justify-content: flex-end;
}
.filter_by-input {
  background-color: #fff;
}
.filter_option {
  background-color: #fff;
}
.select {
  width: 200px;
  padding: 5px;
}
.wrapper_filter-btn {
  width: 200px;
  padding: 5px;
  background-color: #fff;
  cursor: pointer;
}

.wrapper_filter-btn:hover {
  background-color: rgb(137, 133, 133);
}
.filter_block {
  display: flex;
  justify-content: flex-end;
  margin: 5px 20px;
}

/* visible */
.visible_span {
  border: 1px solid #fff;
  background-color: #fff;
  padding: 5px;
  cursor: pointer;
  margin-left: 10px;
}
.close {
  border: 1px solid #fff;
  background-color: #fff;
  padding: 5px;
  cursor: pointer;
  margin-left: 10px;
}
